/* Large containers / screens */

.screen {
   height: 100%;
   width: 100%;
}

#list-screen {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#game-screen {
    display: none;
}

#white-container {
    background-color: white;
    flex-grow: 1;
    padding: 16px 16px 0 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);

    /* this helps somehow with the bird list overflow scrolling */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


/* List screen */

#list-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

#bird-list-loader {
    display: none;
}

#add-bird-input {
    margin: 10px 0 10px 0;
    width: 100%;
    box-sizing: border-box;
}

#bird-list-message {
    text-align: center;
    margin-top: 10px;
    display: none;
}

#bird-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 10px 0;
    overflow-y: auto;
}

#bird-list div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.x-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    font-size: 20px;
    font-weight: bold;
}
.x-button::before {
    content: '✖';
}