/* Controls whether or not certain elements are visible based on the game mode and state */
/* Easier to not miss things in css */
/* By default everything is visible */
/* All attributes will target #game-main, but omitting that here for cleanliness */

// Game states:
$INACTIVE: 0;
$GUESSING: 1;
$FIELD_MARKS_SCREEN: 2;
$ANSWER_SHOWN: 3;

// use with: sass --watch game_display.scss game_display.css

/* General stuff */

// guessing (or field marks screen, which is also guessing)
[data-game-state="#{$GUESSING}"],
[data-game-state="#{$FIELD_MARKS_SCREEN}"] {
  #correct-button {
    display: none;
  }
  #incorrect-button {
    display: none;
  }
  #neutral-next-button {
    display: none;
  }
  #description {
    display: none;
  }
}
// if normal guessing, don't show field marks container
[data-game-state="#{$GUESSING}"] {
  #field-marks-container {
    display: none;
  }
}

// field mark screen
[data-game-state="#{$FIELD_MARKS_SCREEN}"] {
  #bird-image-container {
    display: none;
  }
}

// answer
[data-game-state="#{$ANSWER_SHOWN}"] {
  #guess-and-skip-buttons {
    display: none;
  }
  #description {
    display: block;
  }
  #bird-selection-container {
    display: none;
  }
}

[data-game-state="#{$ANSWER_SHOWN}"][data-correct="true"] {
  #incorrect-button {
    display: none;
  }
  #neutral-next-button {
    display: none;
  }
}
[data-game-state="#{$ANSWER_SHOWN}"][data-correct="false"] {
  #correct-button {
    display: none;
  }
  #neutral-next-button {
    display: none;
  }
}
[data-game-state="#{$ANSWER_SHOWN}"][data-correct="no-guess"] {
  #correct-button {
    display: none;
  }
  #incorrect-button {
    display: none;
  }
}

/* Birdsong game specific */

[data-mode="birdsong"] {
  audio:not([src]) {
    display: none;
  }
  #visual-id-question {
    display: none;
  }
  #scroll-to-zoom-instructions {
    display: none;
  }
  #bird-image-container .mark-as-bad-button {
    display: none;
  }
}

[data-mode="birdsong"][data-game-state="#{$GUESSING}"] {
  // guessing
  #bird-image-container {
    display: none;
  }
}

[data-mode="birdsong"][data-game-state="#{$ANSWER_SHOWN}"] {
  // answer
  #bird-selection-container {
    display: none;
  }
  #birdsong-question {
    display: none;
  }
}

/* Visual ID game specific */

#game-main[data-mode="visual_id"] {
  /* stop the question / caption from getting too close to the top nav */
  padding-top: 10px;
  box-sizing: border-box;
}

[data-mode="visual_id"] {
  #audio-container {
    display: none;
  }
  #birdsong-question {
    display: none;
  }
}
[data-mode="visual_id"]:not([data-game-state="#{$FIELD_MARKS_SCREEN}"]) {
  #bird-selection-container {
    display: none;
  }
}

[data-mode="visual_id"][data-game-state="#{$GUESSING}"] {
  // guessing
  #answer-caption {
    display: none;
  }
}

[data-mode="visual_id"][data-game-state="#{$ANSWER_SHOWN}"] {
  // answer
  #visual-id-question {
    display: none;
  }
}

/* Other game types or data sources */

[data-data-source="ebird_calls"] {
  .mark-as-bad-button {
    display: none;
  }
  #audio-container {
    grid-template-columns: 1fr;
  }
}

#spectrogram {
  display: none;
}
.spectrogram-visible {
  #spectrogram {
    display: block;
  }
  #bird-image-parent-div {
    display: none;
  }
}
