#range-map-modal {
    background-color: rgba(0,0,0,0.9);
    color: white;
    border: none;
    display: none; /* when showing, flex */
    gap: 30px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px 20px 20px 20px;
}

#range-map-taxon-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#range-map {
    height: min(650px, 100dvh - 60px);
    width: min(800px, calc(100vw - 20px));
}

#close-range-map {
    color: initial;
}